@font-face {
    font-family: 'gotham';
    src: url('gotham/GothamBook.ttf') format('ttf'),
}

/* @font-face {
    font-family: 'gotham-bold';
    src: url('gotham/GothamBold.ttf') format('ttf'),
} */

body {
    background-color: #1ed760;
    font-family: 'gotham', sans-serif;
    margin: 20px;
    margin-top: 80px;
    text-align: center;
}

h1 {
    font-weight: bold;
    text-align: center;
}

.intro {
    color: black;
    text-align: center;
    margin: 10px;
}

.input {
    color: #1DB954;
    font-size: large;
    font-weight: bold;
    background-color: white;
    border: 1px solid #1DB954;
    width: 50%;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
}

#text {
    width: 70%;
    height: 20px;
    padding: 5px
}